{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
		<div class="col-md-10">
			<ul class="nav nav-pills">
				{% for promotion in promotions %}
				<li ><a href="#promo_{{promotion.promotion}}" >{{ promotion.type }} {{ promotion.promotion }} <span class="badge">{{ promotion.cards|length }}</span></a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-2">
			<a class="btn btn-success" href="{{ path('card_new') }}">Ajouter une carte</a>
		</div>
	</div>
	
	{% for promotion in promotions %}
	<hr />
	<h2 id="promo_{{promotion.promotion}}">{{ promotion.type }} {{promotion.promotion}}</h2>
	<div>
	
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Carte ID</th>
					<th>Etudiant ID</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for card in promotion.cards %}
				<tr>
					<td>{{ card.id }}</td>
					<td>{{ card.lastname }}</td>
					<td>{{ card.firstname }}</td>
					<td>{{ card.cardcode }} {{ card.facilitycode }}</td>
					<td>{{ card.studentid }}</td>
					<td>
						<a href="{{ path('card_show', { 'id': card.id }) }}" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-eye-open"></i> Consulter</a>
						<a href="{{ path('card_edit', { 'id': card.id }) }}" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-edit"></i> Modifier</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		
		
		
	</div>
    {% endfor %}

{% endblock %}
