{% extends '::base.html.twig' %}

{% block body -%}
	<div class="row">
		<div class="col-md-8">
			<h1>{{entity.name}} <small> Porte {{entity.door.location}}</small></h1>
		</div>
		<div class="col-md-4 text-right">
			<a class="btn btn-danger" href="{{ path('group') }}">Retourner à la liste</a>
			
			{% if is_granted("ROLE_ADMIN") %}
			<a href="{{ path('group_edit', { id: entity.id }) }}" class="btn btn-success" >Modifier</a>
			{% endif %}
		</div>
	</div>
	
	<p>
		{{ entity.description }}
	</p>
	
	<div>Administrateurs :
		{% for user in entity.users %}
			<span class="badge">{{ user.username }}</span>
		{% endfor %}
	</div>
	<div class="row" style="margin-top: 30px;">
		
		<div class="col-md-8">
			
			<div class="row">
				<div class="col-md-9">
					<h4>Accès autorisés</h1>
				</div>
				<div class="col-md-3 text-right">
					<a href="#" class="btn btn-success" data-toggle="modal" data-target="#addAccess"><i class="glyphicon glyphicon-asterisk"></i> Nouvel accès</a>
				</div>
			</div>
			
			<table class="table table-striped">
			
				<thead>
					<tr>
						<th>#</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Card ID</th>
						<th>Promotion</th>
						<th>Student ID</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>	
				
				
				<tbody>
				{% for card in group_accesses %}
					<tr>
						<td><i class="glyphicon glyphicon-user "></i></td>
						
						<td>{{ card.lastname }}</td>
						<td>{{ card.firstname }}</td>
						<td>{{ card.cardcode }} {{ card.facilitycode }}</td>
						<td>{{ card.promotion }}</td>
						<td>{{ card.studentid }}</td>
						<td class="text-right">
						
							<a onclick="$('#AccessModal-username').html('{{ card.firstname|e('js') }} {{ card.lastname|e('js') }}'); $('#AccessModal-userid').val('{{ card.id }}'); loadAccesses({{ entity.id }}, {{ card.id }});" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#AccessModal"><i class="glyphicon glyphicon-time "></i> {{ card.accesses|length }} {% if card.accesses|length > 1 %}autorisations{% else %}autorisation{% endif %}</a>
							<a href="#" onclick="return disableAllAccess({{ entity.id }}, {{ card.id }});" class="btn btn-danger btn-sm">Interdire</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7" class="text-center">Aucune personne n'a accès à cette porte.</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		
		
		
		<div class="col-md-4">
			<div>
				<h4>Derniers passages</h4>
				<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Carte</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					
					{% for log in logs %}
					<tr class="{% if log.statut == 1 %}success{% else %}danger{% endif %}">
						<th><i class="{% if log.statut == 1 %}glyphicon glyphicon-ok{% else %}glyphicon glyphicon-remove danger{% endif %}"></i> </th>
						<td>{{ log.card.firstname }} {{ log.card.lastname }}<br/> <small>{{ log.card.cardcode }}</small></td>
						<td class="text-right">{{ log.date|date("d-m-Y") }}<br/><small>{{ log.date|date("H:i:s") }}</small></td>
					</tr>
					{% else %}
						<tr>
							<td colspan="2" class="text-center">Aucun accès.</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	
	
	
	<!-- Modal -->
<div class="modal fade" id="addAccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nouvel accès</h4>
      </div>
	  <form {{ form_enctype(access_form) }} action="{{ path('group_create_access', {id: entity.id}) }}" method="POST" class="form-horizontal" role="form">
      <div class="modal-body">
			{{ form_errors(access_form) }}
			<div class="form-group">
				<label class="col-sm-4 control-label">Porte</label>
				<div class="col-sm-6">
				{{ entity.door.location }}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Bâtiment</label>
				<div class="col-sm-6">
				{{ entity.door.batiment }}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">{{ form_label(access_form.card, "Carte d'accès") }}</label>
				{{ form_errors(access_form.card) }}
				<div class="col-sm-6">
				{{ form_widget(access_form.card) }}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Durée de validité<br/><small>Laissez vide si cet accès ne périme jamais.</small></label>
				{{ form_errors(access_form.fromdate) }}
				{{ form_errors(access_form.todate) }}
				<div class="col-sm-3">
				{{ form_widget(access_form.fromdate) }}
				</div>
				<div class="col-sm-3">
				{{ form_widget(access_form.todate) }}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Horaires d'accès<br/><small>Laissez vide si cet accès ne possède pas d'horaires.</small></label>
				{{ form_errors(access_form.fromtime) }}
				{{ form_errors(access_form.totime) }}
				<div class="col-sm-3">
				{{ form_widget(access_form.fromtime) }}
				</div>
				<div class="col-sm-3">
				{{ form_widget(access_form.totime) }}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Jours d'accès<br/><small>Laissez vide si cet accès ne possède pas de restriction.</small></label>
				
				<div class="col-sm-6">
					{{ form_widget(access_form.days) }}
				</div>
			</div>
			
			{{ form_rest(access_form) }}
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Anunler</button>
        <button type="submit" class="btn btn-success">Ajouter l'accès</button>
      </div>
	  </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="AccessModal" tabindex="-1" role="dialog" aria-labelledby="AccessModalLabel" aria-hidden="true">
  <div class="modal-dialog"  style="width: 900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="AccessModalLabel">Droits d'accès</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-9">
				<h4 id="AccessModal-username">Accès autorisés</h1>
				<input type="hidden" id="AccessModal-userid" value="" />
			</div>
			<div class="col-md-3 text-right">
				<a href="#" class="btn btn-success" onclick="$('#form_card').val($('#AccessModal-userid').val()); $('#AccessModal').modal('hide'); " data-toggle="modal" data-target="#addAccess" ><i class="glyphicon glyphicon-asterisk"></i> Nouvel accès</a>
			</div>
		</div>
		<div  id="AccessModalContent"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
       
      </div>
    </div>
  </div>
</div>

	
	<script>
	
		function disableAccess(doorid, cardid, accessid) {
		
			if(!confirm('Voulez-vous vraiment désactiver ce droit d\'accès ?')) {
				//location.href = url;
				return false;
			}
			
			var url = '{{ path("access_remove", {'id': 'access_id'}) }}'; 
			url = url.replace("access_id", accessid);
			
			$.ajax({
			  type: "delete",
			  url: url
			})
			  .done(function( data ) {
				loadAccesses(doorid, cardid);
			  })
			   .fail(function(msg, textStatus, errorThrown) {
				alert("Erreur dans la suppression.");
			  });
			  
			
			
			return false;
		}
		
		function disableAllAccess(doorid, cardid) {
			if(!confirm('Voulez-vous vraiment interdire l\'accès pour cette personne ?')) {
				return false;
			}
			
			var url = '{{ path("access_remove_all", {'door': 'door_id', 'card': 'card_id'}) }}'; 
			url = url.replace("card_id", cardid);
			url = url.replace("door_id", doorid);
			
			$.ajax({
			  type: "delete",
			  url: url
			})
			  .done(function( data ) {
				 document.location.reload(); 
			  })
			   .fail(function(msg, textStatus, errorThrown) {
				alert("Erreur dans la suppression.");
			  });
			  
			return false;
		}
				
		function loadAccesses(doorid, cardid) {
			
			$("#AccessModalContent").html('<div class="text-center" style=" margin-top: 30px;"><img src="{{ asset('img/loader.gif') }}" style="height: 30px;" /></div>');
			
			var url = '{{ path("access_list", {'door': 'door_id', 'card': 'card_id'}) }}'; 
			
			url = url.replace("door_id", doorid);
			url = url.replace("card_id", cardid);
			
			$.ajax({
			  type: "GET",
			  url: url
			})
			  .done(function( data ) {
				$("#AccessModalContent").html(data);
			  });
			
			
		}
	</script>

{% endblock %}
